.breadcrumb {
    display: flex;
    flex-direction: row;
    // margin-right: 30px;
    // justify-content: a;
    // text-align: left;
    width: 99.6%;
}
.bodyContent {
    background-color: azure;
    width: 95%;
    align-content: center;
    padding: 10px;
}

.field {
    width: 100%;
}

.textArea {
    color: black;
}
