.breadcrumb {
    display: flex;
    flex-direction: row;
    width: 99.6%;
    justify-content: space-around;
}
.bodyContent {
    background-color: azure;
    width: 100%;
    border-radius: 10px;
}
.form {
    padding: 5px;
}
.field {
    width: 100%;
}

.textArea {
    color: black;
}
