.breadcrumb {
    display: flex;
    flex-direction: row;
    // margin-right: 30px;
    // justify-content: a;
    // text-align: left;
    width: 99.6%;
}
.bodyContent {
    background-color: azure;
    width: 99.7%;
}
