.background {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.innerContent {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    border: 3px solid green;
    padding: 10px;
}
.outerContent {
    padding: 5%;
}
