@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.background {
    font-family: 'Open Sans', sans-serif;
    background: rgb(76, 93, 187);
    color: #3a3c47;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 48px;
}

.loginform {
    width: 100%;
    border-radius: 10px;
    max-width: 375px;
    padding: 58px 40px;
    margin-top: 80px;
    margin-left: 110px;
    background-color: rgb(241, 239, 248);
    box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

.row label {
    font-size: 13px;
    color: rgb(12, 12, 12);
}

.inputfield {
    // flex: 1;
    padding: 13px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    color: rgb(168, 164, 164);
}

.row input:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
    color: rgb(7, 7, 7);
}

.button {
    width: 300px;
    padding: 12px;
    font-size: 18px;
    color: rgb(7, 7, 7);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}

.mainheading {
    color: rgb(91, 89, 218);
    margin-left: 10px;
    margin-right: 10px;
    font-style: Sans-serif;
    font-weight: bold;
    margin-top: 40px;
    background-color: rgb(241, 239, 248);
    box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
    border-radius: 30px;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(7, 7, 7);
    margin-top: -50px;
    padding: 20px;
}

button:hover {
    background: #55d3ac;
}

.form-background {
    background-color: #f9faff;
    height: 100vh;
    display: flex;
    align-self: flex-end;
    width: 100vh;
}

@media (max-width: 458px) {
    body {
        margin: 0 18px;
    }

    form {
        background: #f9faff;
        border: none;
        box-shadow: none;
        padding: 20px 0;
    }
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.blue-column {
    height: 100vh;
    width: 105ch;
}

.green-column {
    height: 100vh;
    box-shadow: 2px 2px 5px 2px rgba(42, 45, 48, 0.12);
}

.image {
    width: 105ch;
    height: 100vh;
}
.forgetpassword {
    padding: 20px;
}
