.radioGroup {
    padding-top: 20px;
    padding-bottom: 25px;
}

.radio {
    text-align: left;
}

.flex-container {
    border: 2px solid #837e7c;
    line-height: 0;
    text-align: left;
    margin-top: 1%;
    margin-left: 35%;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 10px 20px #808080;
}
.border-text {
    padding: 1px 5px;
    margin: 0 20px;
    background-color: #fafafa;
    font-weight: bold;
    border: 1px solid #837e7c;
    border-radius: 10px;
}
