.radioGroup {
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    padding-top: 25px;
    padding-bottom: 25px;
}

.radio {
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
